<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Try our chatbot</title>
</head>
<body>
{% import 'macros.html' as macros %}
    <div id="conversation" style="height: 200px; width: 200px">
        {% for i in range(0, len, 2) %}
            {{ macros.render_message(messages[i], messages[i+1]) }}
        {% endfor %}
    </div>
    <form method="post">
        <label for="new_message"></label>
        <input type="text" id="new_message" name="new_message">
        <button type="submit">Send</button>
    </form>
</body>
</html>